.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    position: relative;
    padding: 50px 0;
}
.section:not(:first-of-type)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to right, #3498db, #8e44ad);
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}
.section-content {
    font-size: 1.2em;
    line-height: 1.5;
}
.section-content p {
    margin: 20px 0;
}

.section-content a {
    color: #3498db;
}

.section-content a:hover {
    text-decoration: none;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.profile-info {
    text-align: center;
}

.profile-info h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.profile-info p {
    font-size: 1.2em;
    color: #666;
}

.profile-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-links a {
    display: block;
    margin: 0 5px;
    color: #3498db;
    font-size: 1.2em;
    text-decoration: none;
}

.profile-links a:hover {
    text-decoration: underline;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.project-title {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}

.project-github {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -20px;
}

.project-github a {
    display: flex;
    align-items: center;
    color: #eee;
    text-decoration: none;
    font-size: 0.9em;
}

.project-github img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-tech {
    background-color: #616ec4;
    color: #fff;
    font-size: 0.8em;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-description {
    margin-top: 10px;
    font-size: 1.2em;
}

.project-box {
    background-color: #222;
    color: #eee;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.project-box:hover {
    transform: translateY(-5px);
}
